<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDE-VoH1erYataAbV32gtz_PVWmy0mOxQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>266360988049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habits</string>
	<key>PROJECT_ID</key>
	<string>habits-161e7</string>
	<key>STORAGE_BUCKET</key>
	<string>habits-161e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266360988049:ios:d631f1a7b5c4248a267a30</string>
	<key>DATABASE_URL</key>
	<string>https://habits-161e7-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>